body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede rolagem indesejada do body */
  background-image: url('../public/19.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App {
  text-align: center;
  filter: drop-shadow(2px 4px 6px black);
}

.App-header {
  background-color: #282c34;
  height: 60px; /* Defina uma altura fixa */
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  position: fixed; /* Fixa o header na parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* Garante que o header fique acima dos outros elementos */
}

.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total da viewport */
  overflow: hidden; /* Impede rolagem do container pai */
}

.main {
  display: flex;
  flex-direction: column; /* Pode ser ajustado conforme a necessidade */
  justify-content: flex-start; /* Alinha itens ao topo */
  align-items: center; /* Centraliza horizontalmente */
  padding-top: 60px; /* Espaçamento acima para não sobrepor o header */
  height: calc(100vh - 60px); /* Altura do main subtraindo a altura do header */
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior */
  scroll-behavior: smooth; /* Comportamento de rolagem suave */
}

/* Estilização de texto */
h2 {
  color: white;
  text-shadow: -2px -2px 5px #0d260e,
               2px -2px 5px #0d260e,
               -2px 2px 5px #0d260e,
               2px 2px 5px #0d260e;
}

/* Scrollbar Styles */
.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #64946d;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Espaço entre o “polegar” e a barra */
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: #25402c;
}

/* Estilo do Background Blur */
.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Mantém o fundo atrás do conteúdo */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .main {
    padding-top: 40px; /* Ajusta o padding para evitar sobreposição */
  }
}

@media (orientation: landscape) {
  .main {
    padding-top: 60px; /* Certifique-se de que o padding é suficiente */
    overflow-y: auto; /* Permite rolagem quando necessário */
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  .main {
    padding: 20px;
  }
}
