/* .carousel-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

.carousel-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 40vw;
  padding: 20px;
  border-radius: 25px;
  height: auto;
  border: solid 3px black;
  background-color: rgba(255, 255, 255, 0.650);
  background-size: cover;
  background-position: center;
  margin: 10px auto;
  /* Centraliza horizontalmente */
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.progress-segment {
  flex: 1;
  height: 100%;
  background-color: #ccc;
  transition: background-color 0.3s, width 1s;
  width: 0;
}

.progress-segment.active {
  background-color: #004d00;
  animation: grow 2s forwards;
}

@keyframes grow {
  from {
    width: 0;
  }

  to {
    width: 100%;
    /* Aumenta para 100% do espaço disponível */
  }
}


.carousel-slide {
  margin: 10px;
}

/* Estilo padrão */
.input-field .input-custom {
  /* display: flex; */
  width: 50%;
  border-radius: 0.375rem;
  border: none;
  color: #111827;
  padding: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.input-custom::placeholder {
  color: #98bd9d;
  font-style: italic;
}

/* Quando em foco */
.input-custom:focus {
  outline: 1px solid #4b7e56;
  /* focus:outline-2 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* focus:ring-2 focus:ring-inset focus:ring-purple-600 */
}

/* Quando desabilitado */
.input-custom:disabled {
  cursor: not-allowed;
  /* disabled:cursor-not-allowed */
  background-color: #F9FAFB;
  /* disabled:bg-gray-50 */
  color: #9CA3AF;
  /* disabled:text-gray-400 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* disabled:ring-gray-200 */
}

/* Quando há erro (data-error=true) */
.input-custom[data-error="true"] {
  color: #7F1D1D;
  /* data-[error=true]:text-red-900 */
  background-color: #FEF2F2;
  /* data-[error=true]:bg-red-50 */
  box-shadow: inset 0 0 0 1px #FCA5A5;
  /* data-[error=true]:ring-red-300 */
}

.input-custom[data-error="true"]::placeholder {
  color: #FCA5A5;
  /* data-[error=true]:placeholder:text-red-300 */
}

.input-custom[data-error="true"]:focus {
  box-shadow: inset 0 0 0 2px #EF4444;
  /* data-[error=true]:focus:ring-red-500 */
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .button-wrapper{
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
} */

.selection-buttons {
  display: flex;
  justify-content: center;
  /* Centraliza os botões */
  align-items: center;
  gap: 10px;
  width: 100%;
  /* Garante que os botões não ultrapassem a largura do container */
  margin: 20px auto;
}

.category-buttons,
.gender-selection,
.input-field,
.diet-buttons,
.objective-buttons {
  display: flex;
  justify-content: center;
  /* Centraliza os elementos */
  align-items: center;
  flex-wrap: wrap;
  /* Quebra os elementos para a próxima linha se necessário */
  gap: 10px;
  width: 100%;
  /* Largura total do container */
  margin: 20px auto;
  /* Centraliza o container */
}

/* Para dispositivos com largura mínima de 320px e máxima de 768px */
@media (max-width: 768px) {

  .carousel-container {
    width: 90%;
    /* Ajusta a largura para caber em telas menores */
    padding: 15px;
    /* Reduz o padding para manter um layout limpo */
  }

  .input-custom {
    width: 80%;
    /* Ajusta a largura do input */
  }
}


/* Para dispositivos com largura mínima de 769px e máxima de 1080px */
@media (min-width: 769px) and (max-width: 1080px) {
  @media (min-width: 769px) and (max-width: 1080px) {
    .carousel-container {
      width: 80%;
      /* Reduz um pouco a largura para telas médias */
      padding: 20px;
    }

    .input-custom {
      width: 70%;
      /* Ajusta a largura do input */
    }
  }
}