/* Container principal da MealCard */
.meal-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    width: 500px; /* Largura fixa */
    max-width: 100%;
    height: 80px; /* Altura fixa */
    background-color: rgba(252, 252, 252, 0.938);
    border: solid 3px #0d260e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  /* Seção de informações da refeição */
  .meal-info {
    display: flex;
    flex-direction: column;
  }
  
  .meal-time {
    font-size: 12px;
    color: #555; /* Cor do texto para horário */
    margin: 0;
  }
  
  .meal-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  
  .meal-calories {
    font-size: 14px;
    color: #888; /* Cor das calorias */
    margin: 0;
  }
  
  /* Barra de progresso */
  .progress-bar-container {
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .progress-bar {
    height: 6px;
    background-color: #004d00; /* Cor de fundo da barra */
    border-radius: 3px;
    position: relative;
  }
  
  /* Botão de adicionar */
  .add-button-container {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  
  .add-button {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #f0f0f0; /* Efeito hover */
  }
  
  .timer-svg{
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  /* Responsividade para dispositivos pequenos (320px a 768px) */
@media (max-width: 768px) {
  .calories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .colum{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px; 
  }

  .meal-card {
      width: 100%; /* Ajusta a largura para ocupar todo o espaço */
      height: 90px; /* Ajusta a altura automaticamente */
  }

  .meal-info {
      font-size: 14px; /* Ajusta o tamanho da fonte */
  }

  .progress-bar {
      height: 4px; /* Reduz a altura da barra de progresso */
  }

  .add-button {
      width: 30px; /* Reduz o tamanho do botão */
      height: 30px;
      font-size: 20px;
  }

  .modal-content {
      width: 90%;
      padding: 15px;
  }

  .input-custom {
      width: 90%; /* Ajusta a largura do input */
  }
}


