/* Container principal da MealCard */
.meal-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    width: 500px; /* Largura fixa */
    max-width: 100%;
    height: 80px; /* Altura fixa */
    background-color: rgba(252, 252, 252, 0.938);
    border: solid 3px #0d260e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  /* Seção de informações da refeição */
  .meal-info {
    display: flex;
    flex-direction: column;
  }
  
  .meal-time {
    font-size: 12px;
    color: #555; /* Cor do texto para horário */
    margin: 0;
  }
  
  .meal-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  
  .meal-calories {
    font-size: 14px;
    color: #888; /* Cor das calorias */
    margin: 0;
  }
  
  /* Barra de progresso */
  .progress-bar-container {
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .progress-bar {
    height: 6px;
    background-color: #004d00; /* Cor de fundo da barra */
    border-radius: 3px;
    position: relative;
  }
  
  /* Botão de adicionar */
  .add-button-container {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  
  .add-button {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #f0f0f0; /* Efeito hover */
  }
  
  .timer-svg{
    cursor: pointer;
    width: 60px;
    height: 60px;
  }

  /* Responsividade para dispositivos pequenos (320px a 768px) */
@media (max-width: 768px) {
  .calories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .colum{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px; 
  }

  .meal-card {
      width: 100%; /* Ajusta a largura para ocupar todo o espaço */
      height: 90px; /* Ajusta a altura automaticamente */
  }

  .meal-info {
      font-size: 14px; /* Ajusta o tamanho da fonte */
  }

  .progress-bar {
      height: 4px; /* Reduz a altura da barra de progresso */
  }

  .add-button {
      width: 30px; /* Reduz o tamanho do botão */
      height: 30px;
      font-size: 20px;
  }


  

  .input-custom {
      width: 90%; /* Ajusta a largura do input */
  }
}

.dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.dropdown li {
    padding: 8px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

/* Estilos para o modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Largura completa da viewport */
  height: 100vh; /* Altura completa da viewport */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto; /* Permite rolagem se o conteúdo do modal for maior que a tela */
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%; /* Define largura de 90% para adaptar a tela */
  max-width: 800px; /* Limita a largura máxima para não ficar muito grande em telas largas */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  /* overflow-x: auto; */
}



.modal-content h3 {
  margin-top: 0;
  color: #4b7e56;
}

.modal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-list li {
  padding: 10px 0;
  border-bottom: 1px solid #98bd9d;
}

.modal-list li:last-child {
  border-bottom: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.close-button:hover {
  color: #333;
}

/* Estilo para a tabela no modal */
.modal-table {
  width: 100%;
  border-collapse: collapse; /* Remove espaços entre as células */
  margin-top: 10px;
}

.modal-table th, .modal-table td {
  padding: 12px 15px; /* Espaçamento interno */
  text-align: left;
  font-size: 14px;
}

.modal-table th {
  background-color: #4b7e56; /* Cor de fundo para o cabeçalho */
  color: white;
  font-weight: bold;
}

.modal-table td {
  border-bottom: 1px solid #ddd; /* Linha de separação entre linhas */
}

.modal-table tr:hover {
  background-color: #f5f5f5; /* Efeito hover nas linhas */
}

.modal-table .action-button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.modal-table .action-button:hover {
  background-color: darkred;
}

/* Estilos para o modal */

.modal-overlay-meal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Efeito de blur no fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-meal {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%; /* Aumenta para 90% para ajustar em telas menores */
  max-width: 900px; /* Aumenta o limite máximo de largura */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-x: auto; /* Habilita rolagem horizontal, caso necessário */
}

.modal-content-meal h3 {
  margin-top: 0;
  color: #4b7e56;
}

.modal-table-meal {
  width: 100%;
  border-collapse: collapse;
}

.modal-table-meal th, .modal-table-meal td {
  padding: 5px 5px;
  text-align: center;
  border-bottom: 1px solid #98bd9d;
}

.modal-table-meal th {
  background-color: #4b7e56;
  color: #fff;
  font-weight: bold;
}

.modal-table-meal td {
  background-color: #f9f9f9;
}

/* Botão de fechar */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.close-button:hover {
  color: #333;
}
