/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Container principal */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
    /* height: 85vh; */
    border: solid 3px #0d260e;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
    margin-bottom: 30px;
    border-radius: 25px;
    background-image: url(http://localhost:3010/static/media/wallpaper.a19aaaedcd0f8341e798.jpg);
}


.profile-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 25px;
    /* Borda inferior */
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra interna */
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.profile-info h2 {
    padding: 10px 0;
    font-size: 18px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.daily-tip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.daily-tip h2 {
    font-size: 20px;
    padding: 10px 0;
}

/* Dica diária */
.daily-tip p {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.daily-tip span {
    color: #666;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    /* Alinha o texto à esquerda */
}

.profile-email,
.profile-age-weight-height {
    font-size: 16px;
    color: #666;
    text-align: left;
}

/* Seção de dietas */
.diets-section {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-radius: 25px;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra interna */
}


.diet-objectives {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.diet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    width: 300px;
    /* Ajuste a largura conforme necessário */
    height: 300px;
    /* Ajuste a altura conforme necessário */
    filter: drop-shadow(2px 4px 6px black);
}

.diet-card:hover,
.weight-card:hover {
    opacity: 0.8;
    /* Efeito de hover para visualização */
}


.diet-card p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.diet-card img {
    width: 225px;
    height: 225px;
    border-radius: 8px;
}

/* Seção de peso */
.weight-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35%;
}

.weight-card {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
}

.weight-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.weight-card p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.button-to-calorie-tracker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004d00;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.button-to-calorie-tracker:hover {
    background-color: #fff;
    color: #003300;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    /* Sombra mais intensa ao passar o mouse */
    transform: scale(0.90);
    font-size: 16px;
}

@media (max-width: 768px) {
    .profile-container {
        width: 90%;
        height: auto;
        /* Permite que a altura do contêiner se ajuste automaticamente */
        flex-direction: column;
        padding-bottom: 35px;
        margin-bottom: 30px;
    }

    .profile-header {
        flex-direction: column;
        padding: 10px;
    }

    .profile-image {
        width: 70px;
        height: 70px;
    }

    .daily-tip h2 {
        font-size: 18px;

    }

    .daily-tip p {
        font-size: 16px;
    }

    .diets-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        /* Espaço entre os itens */
        width: 100%;
        /* Garante que a seção ocupe toda a largura */
        padding: 10px;
        height: auto;

    }

    .diet-objectives {
        display: flex;
        flex-direction: column;
        /* Organiza os cartões em uma coluna */
        justify-content: space-around;
        /* Espaço entre os cartões */
        width: 100%;
        /* Garante que a seção ocupe toda a largura */

    }

    .diet-card {
        width: 100%;
        /* Ocupe toda a largura do contêiner */
        height: auto;
        background-color: transparent;
        margin: 10px 0;
    }

    .diet-card img {
        width: 70%;
        /* Ajusta a imagem para ocupar toda a largura */
        height: auto;
        /* Mantém a proporção correta */
    }

    .weight-section {
        
        display: flex; 
        flex-wrap: wrap; 
        gap: 15px; 
        width: 100%; 
        padding: 10px; 
        height: 100%;
    }
    
    .weight-card {
        flex: 1 1 calc(50% - 15px); /* Cada .weight-card ocupa 50% menos o gap */
        max-height: 50%;
        box-sizing: border-box; /* Inclui paddings e bordas na largura total */
    }
    
    .button-to-calorie-tracker {
        width: 100%; /* O botão ocupa toda a largura */
        padding: 10px 20px;
        font-size: 12px;
        margin-top: 10px; /* Espaço acima do botão */
    }
    

}