
.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* padding: 20px; */
    background-image: url(http://localhost:3000/static/media/wallpaper.a19aaaedcd0f8341e798.jpg);
    background-size: cover;
    background-position: center;
    /* height: 100%; */
    /* flex-grow: 1; */
    border-radius: 20px;
    margin: 10px;
    border: solid 3px black;
    gap: 5px;
    width: 90%;
}

.hero h1 {
    font-size: 34px;
    font-weight: lighter;
    margin: 0;
    color: #333;
    letter-spacing: -.025em;
}

.hero span{
    margin: 0;
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.025em;
    /* text-decoration: underline; */
}

.hero p{
    font-size: 34px;
    font-weight: lighter;
    margin: 0;
    color: #333;
    letter-spacing: -.025em;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 10px;
    justify-content: center;
}

.hero-right {
    margin: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 10px; */
    }

    .hero-left,
    .hero-right {
        width: 95%;
    }

    .hero-image img {
        display: none;
    }
}


.underline {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Espessura da linha */
    background-color: var(--green-800); /* Cor da linha */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-image {
    display: flex;
    position: relative; /* Cria um contexto para o posicionamento absoluto */
}

.logo1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    animation: float 4s ease-in-out infinite, pulse 4s ease-in-out infinite;
    margin-top: 4%;
}

.logo2 {
    display: flex;
    /* position: absolute; */
    top: 0;
    left: 0; 
    z-index: 1; 
}

/* Efeito de flutuação */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Efeito de pulsação */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
