* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.text-shadow1 {
  text-shadow: 1px 1px 1px #000;
}


/* Green PRINCIPAL 400*/
:root {
  --white: #FFFFFF;
  --snow: #FFFAFA;
  --smoke: #F5F5F5;
  --ice: #E0E0E0;
  --ghost: #DCDCDC;
  --light-gray: #F0F0F0;
  --pearl: #F8F8F8;
  --old-snow: #FAF0E6;
  --gray: #F2F2F2;
  --sand: #F5F5DC;
}

/* Green PRINCIPAL 400*/
:root {
  --green-50: #f2f7f3;
  --green-100: #dfecdf;
  --green-200: #c2d8c4;
  --green-300: #98bd9d;
  --green-400: #64946d;
  --green-500: #4b7e56;
  --green-600: #386343;
  --green-700: #2d4f37;
  --green-800: #25402c;
  --green-900: #1f3525;
  --green-950: #111d15;
}

/* Classes para aplicar as cores de fundo */
.bg-green-50 {
  background-color: var(--green-50);
}

.bg-green-100 {
  background-color: var(--green-100);
}

.bg-green-200 {
  background-color: var(--green-200);
}

.bg-green-300 {
  background-color: var(--green-300);
}

.bg-green-400 {
  background-color: var(--green-400);
}

.bg-green-500 {
  background-color: var(--green-500);
}

.bg-green-600 {
  background-color: var(--green-600);
}

.bg-green-700 {
  background-color: var(--green-700);
}

.bg-green-800 {
  background-color: var(--green-800);
}

.bg-green-900 {
  background-color: var(--green-900);
}

.bg-green-950 {
  background-color: var(--green-950);
}

/* Classes para aplicar as cores de texto */
.text-green-50 {
  color: var(--green-50);
}

.text-green-100 {
  color: var(--green-100);
}

.text-green-200 {
  color: var(--green-200);
}

.text-green-300 {
  color: var(--green-300);
}

.text-green-400 {
  color: var(--green-400);
}

.text-green-500 {
  color: var(--green-500);
}

.text-green-600 {
  color: var(--green-600);
}

.text-green-700 {
  color: var(--green-700);
}

.text-green-800 {
  color: var(--green-800);
}

.text-green-900 {
  color: var(--green-900);
}

.text-green-950 {
  color: var(--green-950);
}

/* Classes para aplicar as cores de borda */
.border-green-50 {
  border-color: var(--green-50);
}

.border-green-100 {
  border-color: var(--green-100);
}

.border-green-200 {
  border-color: var(--green-200);
}

.border-green-300 {
  border-color: var(--green-300);
}

.border-green-400 {
  border-color: var(--green-400);
}

.border-green-500 {
  border-color: var(--green-500);
}

.border-green-600 {
  border-color: var(--green-600);
}

.border-green-700 {
  border-color: var(--green-700);
}

.border-green-800 {
  border-color: var(--green-800);
}

.border-green-900 {
  border-color: var(--green-900);
}

.border-green-950 {
  border-color: var(--green-950);
}


/* Orange PRINCIPAL 300*/

:root {
  --orange-50: #fff5ed;
  --orange-100: #ffe8d5;
  --orange-200: #ffcca9;
  --orange-300: #fe9e62;
  --orange-400: #fd793a;
  --orange-500: #fb5614;
  --orange-600: #ec3a0a;
  --orange-700: #c3290b;
  --orange-800: #9b2211;
  --orange-900: #7d1f11;
  --orange-950: #430c07;
}

/* Classes para aplicar as cores de fundo */
.bg-orange-50 {
  background-color: var(--orange-50);
}

.bg-orange-100 {
  background-color: var(--orange-100);
}

.bg-orange-200 {
  background-color: var(--orange-200);
}

.bg-orange-300 {
  background-color: var(--orange-300);
}

.bg-orange-400 {
  background-color: var(--orange-400);
}

.bg-orange-500 {
  background-color: var(--orange-500);
}

.bg-orange-600 {
  background-color: var(--orange-600);
}

.bg-orange-700 {
  background-color: var(--orange-700);
}

.bg-orange-800 {
  background-color: var(--orange-800);
}

.bg-orange-900 {
  background-color: var(--orange-900);
}

.bg-orange-950 {
  background-color: var(--orange-950);
}

/* Classes para aplicar as cores de texto */
.text-orange-50 {
  color: var(--orange-50);
}

.text-orange-100 {
  color: var(--orange-100);
}

.text-orange-200 {
  color: var(--orange-200);
}

.text-orange-300 {
  color: var(--orange-300);
}

.text-orange-400 {
  color: var(--orange-400);
}

.text-orange-500 {
  color: var(--orange-500);
}

.text-orange-600 {
  color: var(--orange-600);
}

.text-orange-700 {
  color: var(--orange-700);
}

.text-orange-800 {
  color: var(--orange-800);
}

.text-orange-900 {
  color: var(--orange-900);
}

.text-orange-950 {
  color: var(--orange-950);
}

/* Classes para aplicar as cores de borda */
.border-orange-50 {
  border-color: var(--orange-50);
}

.border-orange-100 {
  border-color: var(--orange-100);
}

.border-orange-200 {
  border-color: var(--orange-200);
}

.border-orange-300 {
  border-color: var(--orange-300);
}

.border-orange-400 {
  border-color: var(--orange-400);
}

.border-orange-500 {
  border-color: var(--orange-500);
}

.border-orange-600 {
  border-color: var(--orange-600);
}

.border-orange-700 {
  border-color: var(--orange-700);
}

.border-orange-800 {
  border-color: var(--orange-800);
}

.border-orange-900 {
  border-color: var(--orange-900);
}

.border-orange-950 {
  border-color: var(--orange-950);
}



/* Tamanhos de fonte e alturas de linha conforme solicitado */
.text-xs {
  font-size: 0.75rem;
  /* 12px */
  line-height: 1rem;
  /* 16px */
}

.text-sm {
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 20px */
}

.text-base {
  font-size: 1rem;
  /* 16px */
  line-height: 1.5rem;
  /* 24px */
}

.text-lg {
  font-size: 1.125rem;
  /* 18px */
  line-height: 1.75rem;
  /* 28px */
}

.text-xl {
  font-size: 1.25rem;
  /* 20px */
  line-height: 1.75rem;
  /* 28px */
}

.text-2xl {
  font-size: 1.5rem;
  /* 24px */
  line-height: 2rem;
  /* 32px */
}

.text-3xl {
  font-size: 1.875rem;
  /* 30px */
  line-height: 2.25rem;
  /* 36px */
}

.text-4xl {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.5rem;
  /* 40px */
}

.text-5xl {
  font-size: 3rem;
  /* 48px */
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  /* 128px */
  line-height: 1;
}

/* Sombra de texto com desfoque e deslocamento */
.text-shadow-1 {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

/* Sombra de texto com deslocamento, sem desfoque */
.text-shadow-2 {
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Sombra de texto com múltiplas camadas */
.text-shadow-3 {
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 24px 30px rgba(0, 0, 0, 0.1);
}

/* Sombra de texto com múltiplas camadas e diferentes intensidades */
.text-shadow-4 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* Sombra de texto com brilho */
.text-shadow-5 {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

/* Sombra de texto com múltiplas camadas e deslocamentos */
.text-shadow-6 {
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);
}

/* Texto com cor e sombra */
.text-shadow-7 {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
    0px -5px 10px rgba(255, 255, 255, 0.15);
}



.font-sans {
  font-family: Inter, sans-serif;
}
.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.icon-small {
  width: 24px;
  height: 24px;
}

.icon-medium {
  width: 50px;
  height: 50px;
}

.icon-large {
  width: 100px;
  height: 100px;
}

.object-bottom {
  object-position: bottom;
}

.object-center {
  object-position: center;
}

.object-left {
  object-position: left;
}

.object-left-bottom {
  object-position: left bottom;
}

.object-left-top {
  object-position: left top;
}

.object-right {
  object-position: right;
}

.object-right-bottom {
  object-position: right bottom;
}

.object-right-top {
  object-position: right top;
}

.object-top {
  object-position: top;
}


/* /////////////////////////////////////////////////////// */